<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.PersonMapper" >


  <select id="getOne" resultType="person">
    select * from person where pid = #{pid}
  </select>

  <select id="getAll" resultType="person">
    select * from person
  </select>

  <insert id="save" parameterType="person">
    insert into person values (default, #{pname}, #{birth}, #{sex}, #{job}, #{address}, #{tel})
  </insert>

  <update id="update" parameterType="person">
    update person set pname=#{pname}, birth=#{birth}, sex=#{sex}, job=#{job},
                      address=#{address}, tel=#{tel}
    where pid = #{pid}
  </update>

  <delete id="delete">
    delete from person where pid = #{pid}
  </delete>
</mapper>